<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<mappers>
        <mapper resource="oracle/cn/com/bsfit/frms/mgr/sqlmap/CurrencyCodeMapper.xml" />
        <mapper resource="oracle/cn/com/bsfit/frms/mgr/sqlmap/RegierungsbezirkCodeMapper.xml" />
	</mappers>
</configuration>
